
body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #686667;
}

#bg {
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}


/* Make the image to responsive */
.image1 {
  position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}

.headergreen {
    background-color: cfe18f;
color:#000000;
 padding:15px;
 text-align:center;
 font-family:life savers;
 font-size:30px;
}

.userin {
	text-align: center;
	font-family:life savers;
	font-size:18px;
}

#loginborder {
    background-color: #686667;
	width: 310px;
	border: solid 2px #595959;
	border-radius: 10px;
    z-index: 2;
}